@model IEnumerable<Website_ShopeeFood.Models.FoodModel>

<style>
    .btn-adding:hover{
        color:white;
        text-decoration:none;
    }
</style>

@if (Model != null && Model.Count() >0)
{
    @foreach (var item in Model)
    {
        <div class="item-restaurant-row" style="height: 81px; left: 0px; position: absolute; top: 80px; width: 100%;">
            <div class="row">
                <div class="col-auto item-restaurant-img">
                    <button class="inline">
                        <img src="@item.Images" alt="@item.NameofFood" width="60" height="60">
                    </button>
                </div>
                <div class="col item-restaurant-info">
                    <h2 class="item-restaurant-name">@item.NameofFood</h2>
                </div>
                <div class="col-auto item-restaurant-more">
                    <div class="row ">
                        <div class="col-auto product-price">
                            <div class="current-price">
                                @item.Price.ToString("#,##")
                                <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">VNĐ</span>
                            </div>
                        </div>
                        <div class="col-auto adding-food-cart txt-right">
                            <a href="~/Restaurant/getFoodByID?foodId=@item.FoodId" class="btn-adding">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="menu-no-data">
        <img src="https://shopeefood.vn/app/assets/img/no-results.png?7aafd0b598221e54f8ef4a4bd1b38297" style="margin-left: 221px; margin-top: 75px;" />
        <div>
            <div class="no-data-text" style="text-align: center; padding: 17px 0px; font-size: 18px; color: lightslategray;">
                Không Có Món Ăn Bạn Cần Tìm
            </div>
        </div>
    </div>
}

    
<script>
    var row = $('.item-restaurant-row');

    row.each(function(i){
        i = i + 1;
        $(this).css({top: (90 * i) + 'px'}); 
    });
</script>




