@{
    ViewData["Title"] = "UpdateUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container info-user-area">
    <div class="col-profile-right">
        <div class="header-profile">
            <div class="row align-item-center">
                <div class="img-header">
                    <img src="https://spng.pngfind.com/pngs/s/132-1321526_we-bare-bears-png-we-bare-bears-aesthetic.png" style="height:30px; width:30px;">
                </div>
                <div class="col font-15 ">
                    Edward Phan
                </div>
            </div>
        </div>
        <div class="item-profile">
            <div class="item-nagivation">
                <a href="#" title="Cập Nhật Tài Khoản" class="item-nagivation">
                    <div class="nagivation-item-profile">
                        <div class="icon-item-profile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="title-item-profile">
                            Cập Nhật Tài Khoản
                        </div>
                        <div class="narrow">
                            >
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-nagivation">
                <a href="#" title="Cập Nhật Tài Khoản" class="item-nagivation">
                    <div class="nagivation-item-profile">
                        <div class="icon-item-profile">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </div>
                        <div class="title-item-profile">
                            Thông Tin Đơn Hàng
                        </div>
                        <div class="narrow">
                            v
                        </div>
                    </div>
                </a>
                <div class="sub-item-nagivation">
                    <a href="#" title="Cập Nhật Tài Khoản" class="item-nagivation">
                        <div class="nagivation-item-profile">
                            <div class="icon-item-profile">
                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            </div>
                            <div class="title-item-profile">
                                Cập Nhật Địa Chỉ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="narrow">
                                >
                            </div>
                        </div>
                    </a>
                </div>
                <div class="sub-item-nagivation">
                    <a href="#" title="Cập Nhật Tài Khoản" class="item-nagivation">
                        <div class="nagivation-item-profile">
                            <div class="icon-item-profile">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </div>
                            <div class="title-item-profile">
                                Thông Tin Đơn Hàng
                            </div>
                            <div class="narrow">
                                >
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item-nagivation">
                <a href="#" title="Cập Nhật Tài Khoản" class="item-nagivation">
                    <div class="nagivation-item-profile">
                        <div class="icon-item-profile">
                            <i class="fas fa-coins    "></i>
                        </div>
                        <div class="title-item-profile">
                            Phương Thức Thanh Toán
                        </div>
                        <div class="narrow">
                            >
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="col-info-user">
    <div class="info-user-name">Thông Tin Người Dùng</div>
    <div class="info-user-content">
        <div class="info-user-update">
            <div class="title-user">Tải ảnh đại diện</div>
            <div class="row">
                <div class="col-3">
                    <div class="imgae-user">
                        <img src="https://spng.pngfind.com/pngs/s/132-1321526_we-bare-bears-png-we-bare-bears-aesthetic.png" style="height:100px; width:100px; border-radius: 50%;">
                    </div>
                </div>
                <div class="col-9">
                    <div>
                        <div class="form-group">
                            Tải lên từ Chấp nhận GIF, JPEG, PNG, BMP với kích thước tối đa 5.0 MB

                        </div>
                        <div style="width: 150px;">
                            <button class="btn">Cập Nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-user-update">
            <form method="">
                <div class="title-user">Thay Đổi Thông Tin</div>
                <div class="row form-group align-item-center">
                    <div class="col-3">
                        <div class="txt-bold">
                            Tên
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="text" name="name" placeholder="Tên" value="" class="group-controls">
                        </div>
                    </div>
                </div>
                <div class="row form-group align-item-center">
                    <div class="col-3">
                        <div class="txt-bold">
                            Giới Tính
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input type="text" name="gender" placeholder="Giới Tính" value="" class="group-controls">
                        </div>
                    </div>
                </div>
                <div class="row form-group align-item-center">
                    <div class="col-3">
                        <div class="txt-bold">
                            Email
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            <button type="button" class="btn btn-none-bg">Cập Nhật Email</button>
                        </div>
                    </div>
                </div>
                <div class="row form-group align-item-center">
                    <div class="col-3">
                        <div class="txt-bold">
                            Mật Khẩu
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="password">
                            <span class="password-chars">***********</span>
                            <div class="changepassword">
                                <button type="button" class="change-pass">Cập Nhật Email</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group align-item-center"></div>
                <div class="col-9">
                    <button class="save-changes btn" type="submit">Lưu Thay Đổi</button>
                </div>
            </form>
        </div>
        
    </div>

    <div class="info-user-update">
        <div class="title-user">Quản Lý Số Điện Thoại</div>
        <div class="row">
            <div class="col-3">
                <div class="number-user">
                    032563259
                </div>
            </div>
            <div class="col-9">
                <div class="form-group">
                    <span style="color:green;"><i class="fa fa-check" aria-hidden="true"></i></span>
                    Đã xác thực!
                </div>
            </div>
            <div style="width: 150px;">
                <button class="btn" style="width:250px;">Cập Nhật Số Điện Thoại</button>
            </div>
        </div>
    </div>


</div>
            </div>

