
@{
    ViewData["Title"] = "LogIn";
}

@*<link rel="stylesheet" href="~/css/Login.css" />*@

<div class="now-login">
    <div class="content">
        <div class="login-title">
            Đăng Nhập
        </div>
        <div class="login-methods">
            <div class="login-item-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                Số Điện Thoại
            </div>
            <div class="login-item-facebook">
                <i class="fab fa-facebook    "></i>
                Facebook
            </div>
            <div class="login-item-email">
                <i class="fa fa-file" aria-hidden="true"></i>
                Email
            </div>
        </div>
        <p>Hoặc Đăng Nhập Bằng Tài Khoản Của Bạn</p>
        <div class="login-details">
            <div class="field-groups">
                <div class="login-group">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" placeholder="Tên đăng nhập hoặc Email">
                </div>
                <div class="login-group">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Mật Khẩu">
                </div>
            </div>
            <div class="login-feature">
                <div class="save-login">
                    <input type="checkbox" id="RememberMe" checked>
                    <p>Lưu thông tin đăng nhập</p>
                </div>
                <div class="frogot-password">
                    <a href="#">Quên Mật Khẩu?</a>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Đăng Nhập</button>
        </div>

        <div class="privacy">
            Chúng tôi không sử dụng thông tin của bạn với bất kỳ mục đích nào. Bằng cách đăng nhập hoặc đăng ký, bạn đồng ý với
            <a target="_blank" href="https://shopeefood.vn/gioi-thieu#footer-bottom">Chính sách quy định của Shopee</a>
        </div>
    </div>
</div>

