.now-login {
    width: 600px;
    margin: auto;
    clear: both;
    padding: 0px 0;
    margin-top: 40px;
    margin-bottom: 120px;
}

.form-change {
    padding: 45px;
    background-color: #fff;
}

.text-change-password {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 18px;
}

.form-group .input {
    border: 1px solid #959595;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

.input i {
    position: absolute;
    padding: 12px 10px;
}

.form-group .input input {
    width: 100%;
    padding: 0 31px;
    height: 40px;
    border: none;
}
