.invoice-details {
    height: 100px;
    text-align: center;
    padding: 37px 10px;
    font-size: 21px;
    font-weight: 700;
}

.invoices-area {
    padding: 0px 1px;
    margin-bottom: 30px;
}

    .invoices-area .table {
        border-bottom: 1px solid #e1dada;
    }

.btn-detail {
    background-color: #ee4d2d;
    
}

.history-invoices {
    display: flex;
    margin-left: -22px;
}

    .history-invoices .item {
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        padding: 5px 25px;
        border-radius: 5px 5px 0 0;
    }

    .history-invoices .active {
        cursor: default;
        background-color: #fff;
        margin-bottom: -1px;
        border: 1px solid #ebebeb;
        border-bottom: 0;
    }

        .history-invoices .active.now {
            color: #ee4d2d;
        }

.header-table th {
    color: #ee4d2d;
    font-size: 15px;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.horizontal-timeline .items {
    border-top: 2px solid #ddd;
}

    .horizontal-timeline .items .items-list {
        position: relative;
        margin-right: 0;
    }

        .horizontal-timeline .items .items-list:before {
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #ddd;
            top: 0;
            margin-top: -5px;
        }

    .horizontal-timeline .items .items-list {
        padding-top: 15px;
    }

.width-invoices {
    width: 130%;
    margin-left: -140px;
}

.text-center {
    text-align: center;
}