@model List<Website_ShopeeFood.Models.AreasModel>


@if (Model != null)
{

    @foreach (var item in Model)
    {
        <div class="dropdown-item">
            <span id="item-area" onclick="getItem(@item.AreaID)" class="name col"><a style="color:black;" href="~/Restaurant/filteredListOfRestaurantByID?AreaID=@item.AreaID">@item.NameofArea</a></span>
        </div>
    }
}

<style>
    a:hover{
        color:black;
        text-decoration:none;
    }
</style>

