
@{
    ViewData["Title"] = "ConfirmPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="/css/StyleForHomePage.css">
<link rel="stylesheet" href="/css/Login.css">
<link rel="stylesheet" href="/css/BodyForHomePage.css">
<link rel="stylesheet" href="/css/Footer.css">
<link rel="stylesheet" href="/css/ContentForHomePage.css">
<link rel="stylesheet" href="/css/ChangePassword.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div class="now-login">
    <div class="container form-change">
        <div class="text-change-password">Đổi Mật Khẩu</div>
        @using(Html.BeginForm())
        {
            <label class="label" for="Username">UserName</label>
            <input name="username" class="input-fullname" type="text" required>
            <br>

            <label class="label" for="Mật Khẩu">Mật Khẩu</label>
            <input name="password" class="input-password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Phải chứ số, chữ in và chữ thường đồng thời tối thiểu 8 ký tự" required>
            <br>

            <label class="label" for="Xác Nhận Mật Khẩu">Xác Nhận</label>
            <input name="confirmPassword" class="input-confirm" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Phải chứ số, chữ in và chữ thường đồng thời tối thiểu 8 ký tự" required>

            <input formmethod="post" class="btn btn-primary" type="submit" value="Submit">
       }
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

