
@{
    ViewData["Title"] = "ConfirmPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="/css/StyleForHomePage.css">
<link rel="stylesheet" href="/css/Login.css">
<link rel="stylesheet" href="/css/BodyForHomePage.css">
<link rel="stylesheet" href="/css/Footer.css">
<link rel="stylesheet" href="/css/ContentForHomePage.css">
<link rel="stylesheet" href="/css/ChangePassword.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<div class="now-login">
    <div class="container form-change">
        <div class="text-change-password">Đổi Mật Khẩu</div>
        @using(Html.BeginForm())
        {
            <label class="label" for="Email">Email</label>
            <input name="username" class="input-fullname" type="text" required style="margin-left: 54px; font-size: 17px; padding: 1px 12px;">
            <br>

            <label class="label" for="Mật Khẩu">Mật Khẩu</label>
            <input name="password" class="input-password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Phải chứ số, chữ in và chữ thường đồng thời tối thiểu 8 ký tự" required style="margin-left: 25px; font-size: 17px; padding: 1px 12px;">
            <br>

            <label class="label" for="Xác Nhận Mật Khẩu">Xác Nhận</label>
            <input name="confirmPassword" class="input-confirm" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Phải chứ số, chữ in và chữ thường đồng thời tối thiểu 8 ký tự" required style="margin-left: 25px; font-size: 17px; padding: 1px 12px;">

            <input formmethod="post" class="btn btn-primary" type="submit" value="Cập Nhật Mật Khẩu Mới" style="margin: 13px -5px;">
       }
    </div>
</div>

