@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/CSS/StyleForHomePage.css">
<link rel="stylesheet" href="/CSS/Login.css">
<link rel="stylesheet" href="/CSS/BodyForHomePage.css">
<link rel="stylesheet" href="/CSS/Footer.css">
<link rel="stylesheet" href="/CSS/ContentForHomePage.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="/CSS/Register.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>


@using (Html.BeginForm())
{
    <div class="register-form">
        <div class="header-text">
            <span>Đăng Ký Thông Tin</span>
        </div>
        <div class="register-items">
            <div class="item">
                <div class="full-name">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input name="fullName" type="text" placeholder="Họ Tên">
                </div>
            </div>
            <div class="item">
                <div class="email">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="email" class="form-control" name="email" id="" aria-describedby="emailHelpId" placeholder="Email">
                </div>
            </div>
            <div class="item">
                <div class="sex-name">
                    <select name="sex" class="select-sex">
                        <option>Nam</option>
                        <option>Nữ</option>
                        <option>Không Chọn</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div class="phone-number">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <input name="phoneNumber" type="text" placeholder="Số Điện Thoại">
                </div>
            </div>
            <div class="item">
                <div class="user-name">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input name="username" type="text" placeholder="Tên User Name">
                </div>
            </div>
            <div class="item">
                <div class="password">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" class="form-control" name="password" id="" placeholder="Mật Khẩu">
                </div>
            </div>
            <div class="item">
                <div class="full-name">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" class="form-control" name="confirmPassword" id="" placeholder="Xác Nhận Mật Khẩu">
                </div>
            </div>

            <div class="button-register">
                <button formmethod="post" type="submit" class="btn">Đăng Ký Thông Tin</button>
            </div>
        </div>
    </div>
}


<script>
    var msg = "@((string)ViewBag.checkUSer)";

    if (msg != null && msg != "") {
        swal({
            title: "Thông Báo",
            text: msg,
            icon: "success",
        });
    }
</script>